*.AppImage
*.appimage
*.deb
*.lib
resources/icons/*
!resources/icons/manifest.ini
.env.backup
.stylelintcache
**/.vitepress/cache
.env
.dmypy.json
debug
**/*.rs.bk
*.dylib
.npm
Homestead.yaml
**/mutants.out*/
*.dSYM/
*.app
*.ilk
*.lo
*.lcov
!.yarn/patches
__pycache__/
vite.config.js.timestamp-*
share/python-wheels/
*.a
lib-cov
.hypothesis/
venv.bak/
.eslintcache
.vuepress/dist
/site
db.sqlite3-journal
.coverage
cython_debug/
eggs/
*.log
!.yarn/releases
.nox/
local_settings.py
*.rdb
.phpactor.json
.vscode-test
target
env.bak/
var/
!.yarn/sdks
.node_repl_history
pip-delete-this-directory.txt
htmlcov/
Homestead.json
*.dwo
*.pid.lock
.grunt
.pnp.*
*.dll
*.idb
__pypackages__/
.tern-port
.coverage.*
pids
marimo/_lsp/
mnesia/
__marimo__/
ENV/
rabbitmq/
dist
app/storage/
npm-debug.log
.dynamodb/
*.smod
*.map
cover/
*.out
*.mod*
.parcel-cache
Module.symvers
*.egg-info/
.yarn-integrity
.fusebox/
*.egg
out
*.mod
composer.phar
*.manifest
*.ko
**/.vitepress/dist
celerybeat.pid
*.o
*.py.cover
coverage.xml
.pypirc
*.exe
*.gch
build/Release
.envrc
.output
vite.config.ts.timestamp-*
.vite/
.lock-wscript
storage/*.key
.tmp_versions/
public_html/storage
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.temp
*.pdb
marimo/_static/
sdist/
.ropeproject
*.pot
logs
develop-eggs/
/.vagrant
*.lai
auth.json
yarn-debug.log*
*.tgz
modules.order
*.i*86
.eggs/
*.slo
*$py.class
*.cmd
rabbitmq-data/
.streamlit/secrets.toml
public/hot
.cache
*.mo
bower_components
*.su
yarn-error.log*
.yarn/*
activemq-data/
/storage/pail
*.so.*
db.sqlite3
celerybeat-schedule
.pdm-python
.docusaurus
venv/
*.la
!.env.example
node_modules/
/public/build
.webassets-cache
.cache/
.pdm-build/
*.spec
.pybuilder/
.next
.env.*
dist/
lib/
target/
ipython_config.py
.Python
nosetests.xml
.venv
.nyc_output
.serverless/
*.pch
.ipynb_checkpoints
env/
docs/_build/
.mypy_cache/
public_html/hot
*.pid
!.yarn/versions
parts/
MANIFEST
profile_default/
*.obj
dmypy.json
!.yarn/plugins
*.hex
yarn-error.log
.phpunit.result.cache
*.so
Mkfile.old
*.aof
.firebase/
wheels/
.pytype/
*.x86_64
lerna-debug.log*
pip-log.txt
.svelte-kit/
jspm_packages/
.tox/
bootstrap/compiled.php
.ruff_cache/
.scrapy
coverage
.pytest_cache/
*.seed
web_modules/
.spyderproject
*.py[codz]
*.exp
lib64/
.spyproject
instance/
.pyre/
*.elf
npm-debug.log*
*.d
.installed.cfg
/vendor/
public/storage
*.tsbuildinfo
*.sage.py
.env.production
*.cover
.pixi
dkms.conf
.nuxt
.abstra/
build/
downloads/
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,GitBook,GitHubPages,c,cmake,c++,rust,composer,laravel` for  with  [UNIXUSAT=1765769170982]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
